body {
    background-color: #EADEDE;
}

h1,h2,h3,h4,h5,h6{
    color: black;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.logo {
    height: 60px;
    width: 60px;
}

.logo:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.login:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.nav-item {
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
}

.line {
    width: 0px;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    a:hover+.line {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .nav-item {
        margin-top: 15px;
    }

    .nav-item a:hover {
        padding-left: 80px;
        transition: all 0.8s ease;
    }

    a:hover+.line {
        width: 50%;
        visibility: visible;
    }
}

.login-form {
    margin-top: 150px;
}

.profilFoto {
    width: 200px;
    height: 250px;
    border-radius: 20px;
}

.baslik {
    text-align: center;
    margin: 30px;
    margin-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.egitim {
    margin-bottom: 150px;
}

.hobiler {
    margin-bottom: 150px;
}

.hakkimda {
    margin-bottom: 130px;
    margin-top: 110px;
    font-size: larger;
}

.resimHobiler {
    width: 100%;
    height: 60%;
}

.resimOkullar {
    width: 100%;
    height: 60%;
}

.baslikOzgecmis {
    margin-top: 120px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.iletisimBilgiTablo {
    background-color: rgb(163, 147, 147);
    text-align: center;
    margin-top: 150px;
    color: white;
    font-size: large;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 100%;
}

.footer {
    margin-top: 12%;
}

.altBaslik {
    padding-left: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

iframe {
    margin-bottom: 50px;
}

.sliderAltBaslik{
    color: white;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.games {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.games li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    background: #272727;
}
.games li img {
    max-width: 300px;
    border-radius: 12px;
}
.games li h4,h3 {
    color: #fff;
    font-size: 1.5em;
    padding: 15px 10px 0;
    margin-top: auto;
    font-family: 'Times New Roman', Times, serif;
}